/*  --------
    Elements
    -------- */

body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

header {
    
}


/*  -----------------
    Component Classes
    ----------------- */

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content {

}

.logo-card {
    
}

.background-img {
    
}

.logo {
    
}

.img-credit {

}


/*  ---------------
    Utility Classes
    --------------- */

.italics {
    font-style: italic;
}