/*  --------
    Elements
    --------
*/

body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

header {
    
}


/*  -----------------
    Component Classes
    -----------------
*/

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logo-card {
    position: relative;
    min-width: 30em;
}

.background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.logo-banner {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 1;
    width: 100%;
    top: 10em;
    left: 0;
    right: 0;
    text-align: center;
    
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

.logo-banner > p {
    font-size: 4em;
}

.logo {
    height: 8em;
}

.img-credit {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.img-credit > a {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text {
    margin-bottom: 1em;
    margin-left: 2em;
}

.info-text > p {
    margin-bottom: 1em;
}

.white-banner {
    padding: 2em;
    padding-top: 1em;
    margin-bottom: 2em;

    background-color: white;
    box-shadow: 0 2px 6px rgb(200, 200, 200);
}

.white-banner > p {
    margin-bottom: 1em;
}

.input-pairs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
}

.input-pair {
    display: flex;
    flex-direction: column;
}

.input-pair > input {
    
}


/*  ---------------
    Utility Classes
    ---------------
*/

.italics {
    font-style: italic;
}

.large-text {
    font-size: 1.5em;
}