/*  -----------------
    Component Classes
    ----------------- */

.app {
    display: flex;
    flex-direction: row;
}


/*  ---------------
    Utility Classes
    --------------- */

.italics {
    font-style: italic;
}